@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

.weather {
    height: 27%;
    width: 70%;
    position: relative;
    left: 2rem;
    display: flex;
    flex-direction: column;
}

.weather img {
    width: 100%;
    flex-shrink: 0;
}

.weather h1 {
    width: 100%;
    text-align: center;
    position: absolute;
    font-family: "Architects Daughter", cursive;
    font-size: 1.2rem;
    font-weight: 900;
    bottom: 2.3rem;
    color: #4f7296;
}
