.overviewBar {
    background-image: url("overviewBar.png");
    background-size: cover;
    height: 25%;
    width: 99%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    position: absolute;
    bottom: 1rem;
    gap: 15%;
}

.overviewBar img {
    z-index: 1000;
    height: 100%;
    width: 100%;
    position: absolute;
    bottom: 0;
}

