.backGround {
    height: 100vh;
    width: 100vw;
    background-image: url('./assets/mainBackground.png');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}