@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

.weatherStatus {
    position: absolute;
    top: 1.1rem;
    right: 0;
    width: 4.3rem;
    height: 4.3rem;
    z-index: 10;
    object-fit: contain;
}

.tooltip {
    font-family: "Architects Daughter", cursive;
    font-size: 1.2rem;
    text-align: center;
    z-index: 1000;
    position: absolute;
    bottom: 1rem;
    font-weight: 700;
    border: 2px solid black;
    width: 90%;
    left: 1rem;
    background: white;
    padding: 1rem;
    border-radius: 1rem;
}
